<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mo.mapper.FreerTypeMapper">

    <select id="getAll" resultType="FreerType">
        select * from freer_type
    </select>

    <select id="searchFreerType" parameterType="string" resultType="FreerType">
        select * from freer_type where ftname like "%"#{name}"%"
    </select>

</mapper>